@model IEnumerable<FinanceiroLirio.Web.ListaUsuarioModel>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h4 class="right-align">Lista de usuários</h4><hr />

<p>
    @Html.ActionLink("Novo usuários", "Nova", "Usuario")
</p>
<table class="striped">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>       
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
