@model IEnumerable<FinanceiroLirio.Web.Areas.Administrador.Models.ListaCongregacaoModel>

@{
    ViewBag.Titulo = "Lista";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<head>
    <style>
        .link {
             color:white;
        }        
    </style>
</head>

<h4 class="left-align">Lista de congregações</h4><hr />
<br />

<button class="btn waves-effect waves-light">
    @Html.ActionLink("Nova", "Nova", "Congregacao",new {@class="link"})
    <i class="material-icons right">add_circle</i>
</button>

<div class="card-panel grey lighten-5 z-depth-1">
    <table class="striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>Opções</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apelido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }

    </table>
</div>